/**
 * Rose Pine (Main)
 **/

* {
    background:     #191724FF;
    background-alt: #1F1D2EFF;
    foreground:     #E0DEF4FF;
    selected:       #9CCFD8FF;
    active:         #EBBCBAFF;
    urgent:         #EB6F92FF;
}
