/**
 * Rose Pine Moon
 **/

* {
    background:     #232136FF;
    background-alt: #2A273FFF;
    foreground:     #E0DEF4FF;
    selected:       #3E8FB0FF;
    active:         #EA9A97FF;
    urgent:         #EB6F92FF;
}
