spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "sudo" "systemctl" "start" "keyd.service"
spawn-at-startup "waybar" "-c" "/home/rtm/.dotfiles/niri/waybar/config.jsonc" "-s" "/home/rtm/.dotfiles/niri/waybar/style.css"
spawn-at-startup "waybar" "-c" "/home/rtm/.dotfiles/niri/waybar/trigger_config.jsonc" "-s" "/home/rtm/.dotfiles/niri/waybar/trigger_style.css"
spawn-at-startup "awww-daemon"
spawn-at-startup "mako"
spawn-at-startup "/home/rtm/.dotfiles/niri/scripts/mouse_actions.py"
spawn-at-startup "/home/rtm/.dotfiles/niri/waybar/scripts/waybar_indicator_watcher.sh"
spawn-at-startup "sh" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "sh" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "nm-applet"
spawn-at-startup "kdeconnectd"
spawn-at-startup "kdeconnect-indicator"
spawn-at-startup "/usr/bin/1password" "--silent"
spawn-at-startup "sh" "-c" "rm -rf ~/.config/vivaldi/Singleton*"
