// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "envs.kdl"
include "inputs.kdl"
include "outputs.kdl"
include "layout.kdl"
include "autostart.kdl"
include "rules.kdl"
include "binds.kdl"

hotkey-overlay {
    // skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // slowdown 3.0
}
