# vscode workspace
.vscode/settings.json

# NVIM
./dotfiles/nvim/lazyvim.json
dotfiles/nvim/lazyvim.json
./desktop/source/any/config/nvim/lazy-lock.json
desktop/source/any/config/nvim/lazy-lock.json #lazy-vim pkg files

## END
