[Desktop Entry]
Name=xcape
GenericName=XCAPE
Comment=XCAPE script to open rofi
Exec=/home/rtm/GIT-REPOS/workstation/desktop/source/any/config/rofi/scripts/xcape.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
